<div class="jumbotron text-center">
	<div ng-hide="isPlayerCountEntered">
        <h2>Player Count</h2>

        <div class="form-group">
            <label><input type="number" class="form-control" class="form-control" placeholder="Player Count" ng-model="playerCount"></label>

            <p>
                <button type="submit" class="btn btn-primary" ng-click="onPlayerCountEntered()">Next</button>
            </p>
        </div>
    </div>
    <div ng-hide="isPlayerCountEntered == false || arePlayerNamesEntered == true">
        <h2>Player Names</h2>

		<div class="form-group">
            <label><input type="text" class="form-control" placeholder="Player One Name" ng-model="playerNames[0]"></label><br>
            <label><input type="text" class="form-control" placeholder="Player Two Name" ng-model="playerNames[1]"></label><br>
            <label ng-hide="playerCount < 3"><input type="text" class="form-control" placeholder="Player Three Name" ng-model="playerNames[2]"></label><br>
            <label ng-hide="playerCount < 4"><input type="text" class="form-control" placeholder="Player Four Name" ng-model="playerNames[3]"></label><br>
            <label ng-hide="playerCount < 5"><input type="text" class="form-control" placeholder="Player Five Name" ng-model="playerNames[4]"></label><br>
            <label ng-hide="playerCount < 6"><input type="text" class="form-control" placeholder="Player Six Name" ng-model="playerNames[5]"></label>

            <p>
                <button type="submit" class="btn btn-primary" ng-click="onPlayerNamesEntered()">Next</button>
            </p>
        </div>
    </div>
	<div ng-hide="isPlayerCountEntered == false || arePlayerNamesEntered == false || isCardShufflerDecided == false || isGameFinished == true">
		<div round-view></div>
	</div>
	<div ng-show="isGameFinished == true">
		<div game-finished></div>
	</div>

	<div class="form-group">
		<p>
			<button type="submit" class="btn btn-primary" ng-click="debugToEnd()">DEBUG TO END</button>
		</p>
	</div>
</div>
