<h2>Round {{ roundCounter + 1 }}</h2>

<p class="playerBannerWrapper">
    <div class="playerBanner">
        <a href="#" ng-repeat="playerName in playerNames | limitTo:playerCount" ><span>{{ playerName }}</span></a>
    </div>
</p>

<div ng-hide="arePredictionsDone">
    <h4>Card Dealer: {{ playerNames[cardGiverIndex] }}</h4>
    <h3>Predictions</h3>
    <h4>{{ playerNames[currentPlayer] }}</h4>
</div>

<div ng-hide="!arePredictionsDone">
    <h3>Tricks</h3>
    <h4>{{ playerNames[currentPlayer] }}</h4>
</div>

<hr>

<div class="sliderWrapper">
    <div id="slider"></div>
</div>

<div ng-hide="arePredictionsDone">
    <p>
        <button type="submit" class="btn btn-primary" ng-click="onPredictionMade()">Confirm</button>
    </p>
</div>

<div ng-hide="!arePredictionsDone">
    <p>
        <button type="submit" class="btn btn-primary" ng-click="onTrickMade()">Confirm</button>
    </p>
</div>
